.avatar__wrapper {
  position: relative;
  &.hover {
    .info {
      visibility: visible;
      opacity: 1;
    }
  }
  @media not screen and (hover: none) and (pointer: coarse){
    &:hover {
      .info {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .avatar {
    display: inline-block;
    aspect-ratio: 1 / 1;
    transition: all 0.2s linear;
    img {
      aspect-ratio: 1;
      box-shadow: 0 0 3px 0 grey;
      width: 100%;
      border-radius: 50%;
    }
  }

  .placeholder {
    box-shadow: 0 0 2px 0 grey;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    position: relative;

    &-symbol {
      text-transform: uppercase;
      position: absolute;
      z-index: 2;
      color: #fff;
      font-size: 40px;
      font-weight: 600;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .info {
    transition: all 0.2s linear;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    z-index: 10;
    background-color: white;
    border-radius: 6px;
    padding: 4px;
    overflow: visible;
    box-shadow: 0 0 3px 0 #000000;
  }
}