.comment {
  position: relative;
  .avatar__wrapper  {
    width: 40px;
    height: 40px;
  }
}

.comment-reply {
  margin-bottom: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  &.visible {
    //transition-delay: 0.01s;
    visibility: visible;
    opacity: 1;
  }
}



