.comments-tools__wrapper {
  position: absolute;
  left: 10px;
  display: flex;
  column-gap: 10px;
  @media only screen and (max-width: 600px) {
    & {
      row-gap: 10px;
      flex-direction: column;
      //width: 200px;
    }
  }
  @media only screen and (max-width: 400px) {
    & {
      width: 60vw;
    }
  }

  select {

    border: none;
    font-weight: 500;
    font-size: 15px;
  }
  .comments-tools {
    display: flex;
    flex-wrap: wrap;
  }
  input {
    padding: 0 8px;
  }
}

