.item-card {
    .likes {
        transition: all 0.1s linear;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 2px;
        bottom: 2px;
        z-index: 2;
    }
    &.hovered {
        .likes {
            visibility: visible;
            opacity: 1;
        }
    }
    @media only screen and (max-width: 1000px) {
        .likes {
            visibility: visible;
            opacity: 1;
        }
    }
}
