
.auth-button {
  font-size: 16px;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 3px 0 grey;
  border-radius: 8px;
  padding: 5px;
  transition: all 0.2s linear;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #eaeaea;
    cursor: pointer;
  }
}
.google-icon {
  width: 24px;
  display: inline-block;
  height: 24px;
  margin-right: 10px;
}